<!DOCTYPE html>
<html>
    <head>
        <title>nh-fcc-nightlyfe</title>
        <link rel="stylesheet" type="text/css" href="styles/main.css" />
        <script src="https://fb.me/react-0.14.7.js"></script>
        <script src="https://fb.me/react-dom-0.14.7.js"></script>
        <script src="http://code.jquery.com/jquery-1.12.1.js"></script>
    </head>
    <body>
        {{{body}}}
    </body>
</html>