#mount {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.businessListing {
    display: block;
    width: 100%;
    height: 80px;
    padding: 5px;
}

.businessImg {
    display: inline-block;
    max-height: 70px;
}

.details {
    display: inline-block;
    width: 70%;
}
.busTopRow {
    height: 50%;
    width: 100%;
}

.busTopRow span, .busTopRow div {
    display: inline-block;
}

.busBotRow {
    height: 50%;
    width: 100%;
}